/* Responsif untuk menu */
@media screen and (max-width: 600px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-right: 0;
    }

    header h1 {
        font-size: 20px;
    }

    main h2 {
        font-size: 16px;
    }
}

/* Pengaturan warna dan hover untuk elemen */
nav a:hover {
    color: #0044cc;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #87CEEB;
    margin-top: 30px;
}

footer p {
    font-size: 12px;
}

/* Gaya untuk Form Kontak */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #87CEEB;
    border: none;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0044cc;
}
